.card-image img{
    height: inherit;
    padding: 0.3vw;
}

.card{    
    box-shadow: 0vw 1vw 1vw  rgb(0, 0, 0, 0.5)!important;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0vw 1.1vw 1.1vw  rgb(0, 0, 0, 0.5)!important;
}

.card-image img, .card{
    border-radius: 3vw!important;
}

.card-image{
    align-items: center;
    height: 15vw;
}

@media screen and (max-width:600px){
    .card-image{
        height: 35vw!important;
    }
}

.card-content {
    padding: 0vw!important; 
}

.card-title{
    position: inherit!important;
    bottom: 9vw!important;
    width: auto;
    padding: 0vw!important;
}

.letterNameImg{
    color: black;
    font-size: large!important;
    border-radius: 3vw!important;
    background-color: rgba(127, 255, 212, 0.459)!important;
}