.nextButton{
    height: 15vh;
}

.description{
    font-size: large;
    text-align: center;
}

.row{
    margin-bottom: 0vh!important;
}

@media screen and (max-width:992px){
    .nextButton{
        height: 10vh;
    }
}