.logo, .login{
    height: inherit;
}

.login{
    padding: 0.5vw 0vw;
    border-radius: 3vw;
}

.dropdown-content{
    height: 20vw!important;
    left: 0px!important;
    top: 5vw!important;
}

.login:hover{
    transform: scale(0.8);
    box-shadow: 0vw 0.5vw 0.5vw  rgb(0, 0, 0, 0.5)!important;
    padding: 0vw;
}