.card-image img{
    height: inherit;
    padding: 0.3vw;
}

.card{    
    box-shadow: 0vw 1vw 1vw  rgb(0, 0, 0, 0.5)!important;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0vw 1.1vw 1.1vw  rgb(0, 0, 0, 0.5)!important;
}

.card-image img, .card{
    border-radius: 3vw!important;
}

.card-image{
    height: 15vw;
}

@media screen and (max-width:600px){
    .card-image{
        height: 35vw!important;
    }
}
.card-content {
    padding: 0vw!important; 
}